/** @jsx React.DOM */
'use strict';

var React = require('react');

module.exports = React.createClass({
  displayName: '{{uppercamelize name true}}',
  render: function() {
    return (
      <div></div>
    );
  }
});
